body {
  /* background: #ee5253; */
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  border-top: 3px solid #0c2461;
}

.App-header {
  text-align: right;
  /* background: red; */
  width: 100%;
  margin: auto;
  position: relative;
  top: 25px;
  text-align: center;
}

.App-header a {
  margin: 10px;
  position: relative;
  transition: 0.5s all;
  text-decoration: none;
  color: #444;
  font-size: 1.3em;
}

.App-header a:hover {
  color: #4a69bd;
  transition: 0.5s all;
}

.about-welcome-text {
  font-family: 'Rubik', sans-serif;
  font-size: 2.3em;
  color: #444; 
}

.about-description-text {
  font-size: 1.2em;
  color: #555;
}

.about-full-name {
  color: #4a69bd;
}

.img-profile {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  transition: 0.5s all;
  opacity: 0.7;
}

.container {
  width: 70%;
  height: auto;
  margin: auto;
  background: white;
  position: relative;
  top: 50px;
}

.content-description {
  display: flex;
  padding: 10px;
  flex-direction: row;
}


/* style div and social icons */
.content-icons-socials ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

.content-icons-socials ul li a {
  text-decoration: none;
}

.icon-social {
  width: 30px;
  height: 30px;
  opacity: 0.9;
  transition: 0.5s all;
  transform: scale(1);
}

.icon-social:hover {
  opacity: 1;
  transition: 0.5s all;
  transform: scale(0.9);
}

/* media querys */

@media(max-width: 768px) {
  .container {
    width: 100%;
  }

  .content-description {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    /* background: red; */
  }

  .about-welcome-text {
    padding-left: 30px;
  }

  .about-description-text {
    padding-left: 30px;
  }

  .content-icons-socials {
    text-align: center;
    width: 100%;
    position: relative;
    left: -20px;
  }

  
}

.default-link-style {
  color: #4a69bd;
  text-decoration: none;
  text-decoration: none;
}

.default-link-style:hover {
  opacity: 0.9;
}

/* effect overlay image logo */
.overlay-image {
  background: #000;
  border-radius: 200px;
  width: 250px;
  height: 250px;
  border: 0px;
}

/* css style page projects */

.container-projects-labs {
  display: flex;
  flex-flow: row wrap;
  /* background: red; */
}

.div-content {
  margin: 5px;
  box-shadow: 0px 0px 1px gray;
  flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
  flex-basis: 200px;
  height: auto;
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
  /* background: #ee5253; */
  padding: 2px;
  flex-direction: column;
}

.div-content img {
  width: 100%;
  height: 200px;
}

.div-content-project-description {
  /* background: red; */
  padding: 10px;
}

.div-content-project-description .title {
  color: #111;
  font-size: 1.3em;
}

.div-content-project-description p {
  color: #444;
}

.div-content-project-description span {
  color: #4a69bd;
}