body {
  font-family: "Rubik", sans-serif;
  padding: 10px;
  border-top: 5px solid #021c63;
}

.container {
  width: 70%;
  height: auto;
  margin: auto;
  background: white;
  position: relative;
  top: 40px;
}

.description {
  text-align: justify;
}

.text-header {
  font-size: 2em;
  margin: 20px 0px;
}

.sub-text {
  font-size: 1.2em;
  margin: 20px 0px;
}

.text-name {
  color: #4a69bd;
}

.span-js {
  background: #f0db4f;
  padding: 8px;
  border-radius: 10px;
  color: #323330;
}

.span-php {
  background: #474a8a;
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header a {
  margin: 10px;
  position: relative;
  transition: 0.5s all;
  text-decoration: none;
  color: #444;
  font-size: 1.3em;
}

.App-header a:hover {
  color: #4a69bd;
  transition: 0.5s all;
}
.App-link {
  color: #61dafb;
}

/* social media styles */

.content-icons-socials ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

.content-icons-socials ul li a {
  text-decoration: none;
}

.icon-social {
  width: 30px;
  height: 30px;
  opacity: 0.9;
  transition: 0.5s all;
  transform: scale(1);
}

.icon-social:hover {
  opacity: 1;
  transition: 0.5s all;
  transform: scale(0.9);
}

/* media querys */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .content-icons-socials {
    text-align: center;
    width: 100%;
    position: relative;
    left: -20px;
  }
}
